.container {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.post {
  /*position: absolute;*/
  margin-bottom: 10px;
  padding: 10px;
  background: white;
  width: 50%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  /*height: 300px;
  overflow: hidden;*/
  -webkit-user-select: none;
}

.isDragging {
  /*max-height: 100px;
  overflow: hidden;*/
  transition: all 0.2s ease-in-out;
  opacity: 0.25;
}

.title {
  user-select: none;
  display: block;
}

.field {
  display: block;
}

.item {
  display: block;
  width: 100%;
}

.noClick {
  pointer-events: none;
}
